.bg-3 {
  background-color: #2269ca; }

.text-3 {
  color: #2269ca; }

.bg-2 {
  background-color: #777fec; }

.text-2 {
  color: #777fec; }

.bg-1 {
  background-color: #9a9ded; }

.text-1 {
  color: #9a9ded; }

.bg-6 {
  background-color: #2733a0; }

.text-6 {
  color: #2733a0; }

.bg-5 {
  background-color: #4d56db; }

.text-5 {
  color: #4d56db; }

.bg-4 {
  background-color: #89b0e2; }

.text-4 {
  color: #89b0e2; }
