
$base: #2269ca;

$colors: (
        3: $base,
        2: lighten(saturate(adjust-hue($base, 21.2000), 4.4025), 23.3333),
        1: lighten(desaturate(adjust-hue($base, 23.3818), 1.9048), 30.3922),
        6: darken(desaturate(adjust-hue($base, 19.3379), 9.9462), 7.2549),
        5: lighten(desaturate(adjust-hue($base, 21.5830), 4.8485), 11.7647),
        4: lighten(desaturate(adjust-hue($base, -1.1636), 10.8844), 24.9020)
);

/*
        3: #a169b4,
        2: #deb6da,
        1: #e7d1e4,
        6: #995f95,
        5: #c495bf,
        4: #d3c3d9,
*/

@each $i, $color in $colors {
  .bg-#{$i} {
    background-color: $color;
  }

  .text-#{$i} {
    color: $color;
  }
}
