
$colors: (
        1: #e7d1e4,
        2: #deb6da,
        3: #a169b4,
        4: #d3c3d9,
        5: #c495bf,
        6: #995f95
);

$new_color: #2269ca;

@each $i, $color in $colors {
  $old_hue: hue($color);
  $new_hue: hue($new_color);
  $hue_difference: $new_hue - $old_hue;
  $adjusted_color: adjust_hue($color, $hue_difference);

  .bg-#{$i} {
    background-color: $adjusted_color;
  }

  .text-#{$i} {
    color: $adjusted_color;
  }
}
