.bg-3 {
  background-color: #2269ca; }

.text-3 {
  color: #2269ca; }

.bg-2 {
  background-color: #584ae2; }

.text-2 {
  color: #584ae2; }

.bg-1 {
  background-color: #705de2; }

.text-1 {
  color: #705de2; }

.bg-6 {
  background-color: #2e27b4; }

.text-6 {
  color: #2e27b4; }

.bg-5 {
  background-color: #4534d8; }

.text-5 {
  color: #4534d8; }

.bg-4 {
  background-color: #5793d9; }

.text-4 {
  color: #5793d9; }
